@import "tailwindcss";

@font-face {
  font-family: 'Kanit bold';
  src: url('/webfont/Kanit/Kanit-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Kanit light';
  src: url('/webfont/Kanit/Kanit-Regular.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-light: 'Kanit light', sans-serif;
  --font-bold: 'Kanit bold', sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-light);

}

h1, b, strong {
  font-family: var(--font-bold);

}

input[type="checkbox"] {
  cursor: pointer;
}