.accordion_head {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.accordion_body {
    max-height: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 0 12px;
}

.accordion_open {
    max-height: none;
    padding: 12px;
}
